src
.gitignore
.npmignpre
node_modules
build/CMakeFiles
build/.cmake
build/cmake_install.cmake
build/CMakeCache.txt
build/Makefile
build/compile_commands
build/CMakeFiles
dummy
workspace.code-workspace
opencv
opencvlibs
libs
README
.vscode
*.cpp
*.txt
*.gyp


